<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["TitleEmployee"] | E-Shopper</title>
    <partial Name="Partial/_Styles"></partial>
</head><!--/head-->

<body>


    @RenderBody()

    <partial Name="Partial/_Scripts"></partial>
</body>
</html>