<!DOCTYPE hyml>

<html>
    <head>
        <title>Главная страница</title>
    </head>
    <body>
        <h3>Заголовок</h3>
        <p>ЛРОПИЛРОПИЛО</p>
        <a href="/Home/Employees">Список сотрудников</a>
    </body>
</html>